# Robodimm Production Mode
VITE_APP_MODE=production

# Set to false to disable local backend polling entirely if deploying a pure offline demo
VITE_ENABLE_PRO_BACKEND=true
VITE_PRO_BACKEND_URL_PRIMARY=http://127.0.0.1:8001
VITE_PRO_BACKEND_URL_FALLBACK=http://localhost:8001
